<div id="<%= dom_id cao %>">
  <p>
    <strong>Nome:</strong>
    <%= cao.nome %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= cao.raca %>
  </p>

  <p>
    <strong>Nome pai:</strong>
    <%= cao.nome_pai %>
  </p>

  <p>
    <strong>Nome propr:</strong>
    <%= cao.nome_propr %>
  </p>

</div>
