<p style="color: green"><%= notice %></p>

<%= render @cao %>

<div>
  <%= link_to "Edit this cao", edit_cao_path(@cao) %> |
  <%= link_to "Back to caos", caos_path %>

  <%= button_to "Destroy this cao", @cao, method: :delete %>
</div>
